.logIn {
  flex: 1;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 20rem;
  width: 100%;
  margin: 0 auto;
}

.formTitle {
  margin-bottom: 1rem;
  font-size: 2rem;
}
