* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 1rem 0 0 1rem;
    max-width: 20rem;    
}

.text {
    border: 2px solid #808080;
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    padding: 3rem 3rem 2rem;
    text-align: center;
}

.title {
    padding-bottom: 1rem;
}

.signature {
    border: 2px solid #808080;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 3rem;
    background-color: #e7e7e7 ;
    text-align: center;
}