.switchCheckbox {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfdff;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  content: "";
  background-image: url("../../assets/images/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  left: 8px;
  bottom: 5px;
  background-color: #4dd599;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #808080;
}

input:checked + .slider:before {
  background-image: url("../../assets/images/moonDark.svg");
  background-color: #ffffff;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
