* {
    margin: 0;
    padding: 0;
}

.input {
    flex: 1;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
}