* {
    margin: 0;
    padding: 0;
}

.boxBanner {
    margin: 1rem 0 0 1rem;
    width: 40rem;
    height: 15rem;
    display: flex;
    flex-direction: column;   
    background-size: cover;     
}

.boxMenu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.commentCount {
    padding: 0.3rem;
    background-color: #808080;
    border: 2px solid #ffff00;
    color: #ffff00;
    font-weight: 600;
}

.title {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
    color: #ffffff;
}
